.container{
    height: 100px;
    padding: 0 20px;
    border: 2px solid rgb(207, 23, 207);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

/* ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.items a{
    color: black;
}


