table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
th{
    background-color: rgb(207, 202, 202);
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}